.card-style{
    color: white;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .5rem;
}
h3 {

    color: white
}
